*::after {
  box-sizing: content-box;
}

html,
body {
  font-family: "PT Sans Narrow", "Open Sans Condensed", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  margin: 0;
  padding: 0;
}

header,
footer {
  background: linear-gradient(45deg, #5b210f, #b3411d, #dc5227);
  color: white;
  height: auto;
  padding: 20px;
}
header *,
footer * {
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

hr {
  border-top: 2px dashed black;
  margin: 2em auto;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.plain-grid-layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  font-size: 16px;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}
header > .wrapper, footer > .wrapper {
  height: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app-description {
  font-family: "Source Sans Pro", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
  padding: 20px;
}
.main > * {
  margin-bottom: 20px;
}

#database-url-input-grid {
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1em;
}

#dbUrlInput {
  border: 0;
  font-size: 17px;
  padding: 0.25em;
  width: 90%;
}
#dbUrlInput:focus {
  background: #f8dfd7;
}

#dbUrlSearch {
  background: transparent;
  border: 0;
  border-left: 1px solid black;
  cursor: pointer;
  width: 10%;
}
#dbUrlSearch:hover {
  background: linear-gradient(to top, #5b210f, #b3411d 50%, #dc5227);
}
#dbUrlSearch:active {
  background: linear-gradient(to right, #5b210f, #b3411d, #dc5227);
}

#dbURLStatus {
  font-family: "Source Sans Pro", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 1em auto 0 auto;
  text-align: center;
  visibility: hidden;
}

#database-url-input-section .database-url-desc {
  font-family: "Source Sans Pro", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
}

#search-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li.search-engine {
  margin-bottom: 20px;
}

.search-engine-name {
  display: block;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

div.search-engine-input-item {
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
}

.search-engine-input {
  background: transparent;
  border: 0;
  font-size: 17px;
  padding: 0.25em;
  width: 90%;
}
.search-engine-input:focus {
  background: #f8dfd7;
}

.search-engine-input-button {
  background: transparent;
  border: 0;
  border-left: 1px solid black;
  width: 10%;
}
.search-engine-input-button:hover {
  cursor: pointer;
  background: #f1bcab;
}
