$main-color : #b3411d;
$lighter-main : lighten($main-color, 10%);
$darker-main : darken($main-color, 20%);
$main-gradient : linear-gradient(45deg, $darker-main, $main-color, $lighter-main);

$spacing-unit: 30px !default;
$max-width : 800px !default;

$min-height: $spacing-unit * 2;

$default-font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font-family: "Open Sans", $default-font-family;

$space: 20px;

$plain-border: 1px solid black;
$dashed-border: 2px dashed black;

$btn-hover-color: lighten($main-color, 40%);
$input-focus-color: lighten($main-color, 50%);

$search-btn-width: 10%;
$search-input-width: 100% - $search-btn-width;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content
    }
}

*::after {
    box-sizing: content-box;
}

@import
    "base",
    "layout"
;